html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.tooltip-inner {
    width: 100px;
}
.navbar {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
    height: 13%;
}
.white {
    color: #fff;
}
.black {
    color: #000;
}
.background-white {
    background-color: #fff;
}
.dataSelect {
    display: block;
    position: relative;
    height: 87%;
    width: 5%;
    background-color: #222222;
    float: left;
    text-align: center;
}
.dataIcon {
    width: 80%;
    padding: 10px 2px;
    border-radius: 40px;
}
.dataIcon:hover {
    cursor: pointer;
}
.selected {
    background-color: #7A7A7A;
}
#map {
    height: 87%;
    width: 95%;
    float: right;
}
@media only screen and (max-width: 650px) {
    .dataSelect {
        width: 10%;
    }
    #map {
        width: 90%;
    }
}
@media only screen and (max-width: 768px) {
    .navbar {
        height: 9%;
    }
    #map, .dataSelect {
        height: 91%;
    }
}
@media only screen and (max-width: 400px) {
    .navbar {
        height: 7%;
    }
    #map, .dataSelect {
        height: 93%;
    }
}
