{# header.twig #}

{% block header %}

<nav class='navbar navbar-default navbar-inverse'>
    <div class='navbar-header'>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
        </button>
        <a href='/'><img src='/images/explorehr-inverted.png' alt='Explore Hampton Roads' class='navbar-brand' /></a>
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
        <ul class='nav navbar-nav navbar-right margin10right'>
            <li><a href='/map'><i class='glyphicon glyphicon-search'></i> Explore</a></li>
            <li><a href='http://hamptonroads.com/'><i class='glyphicon glyphicon-heart'></i> Experience</a></li>
            <li><a href='https://en.wikipedia.org/wiki/Hampton_Roads'><i class='glyphicon glyphicon-info-sign'></i> About</a></li>
            <li><a href='http://www.pilotonline.com/'><i class='glyphicon glyphicon-duplicate'></i> News</a></li>
        </ul>
    </div><!--/.navbar-collapse -->
</nav>
<div class='clearfix'></div>

{% endblock %}