{# main.twig #}

{% use 'mainHead.twig' %}
{% use 'header.twig' %}
{% use 'bootstrapCore.twig' %}

<!DOCTYPE html>
<html lang='en'>

<head>
    <!--Import bootstrapCore and mainHead-->
    {{ block('bootstrapCore')}}
    {{ block('mainHead')}}
</head>

<body>
    <!--Import Header-->
    {{ block('header')}}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id='myCarousel' class='carousel slide' data-ride='carousel'>

        <!--Carousel Image-->
        <div class='carousel-inner' role='listbox'>
            <div class='item active'>
                <img src='images/norfolkRainbow.png' alt='First slide' />
                <div class='container'>
                    <div class='carousel-caption'>
                        <p><a class='btn btn-lg btn-primary' href='/map' role='button'><i class='glyphicon glyphicon-search'></i> Explore Hampton Roads</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Data Sections-->
        <div class='container'>
            <!--Header and City Links-->
            <div class='row'>
                <div class='col-md-12 text-center'>
                    <h1>Are you ready to Explore Hampton Roads?</h1>
                    <p>Hampton Roads is a robust community made up of multiple cities in South Eastern Virginia. With over 1.7
                        million people living within it's borders, and over 400 years of history, Hampton Roads offers a
                        rich culture to live, work or visit. Explore more about Hampton Roads now!</p>
                    <ul class='nav nav-pills'>
                        <li role='presentation'><a href='http://www.cityofchesapeake.net/' target='_blank'>Chesapeake</a></li>
                        <li role='presentation'><a href='http://hampton.gov/' target='_blank'>Hampton</a></li>
                        <li role='presentation'><a href='https://www.nnva.gov/' target='_blank'>Newport News</a></li>
                        <li role='presentation'><a href='http://www.norfolk.gov/' target='_blank'>Norfolk</a></li>
                        <li role='presentation'><a href='http://www.ci.poquoson.va.us/' target='_blank'>Poquoson</a></li>
                        <li role='presentation'><a href='http://www.portsmouthva.gov/' target='_blank'>Portsmouth</a></li>
                        <li role='presentation'><a href='http://www.suffolkva.us/' target='_blank'>Suffolk</a></li>
                        <li role='presentation'><a href='http://www.vbgov.com/Pages/home.aspx' target='_blank'>Virginia Beach</a></li>
                        <li role='presentation'><a href='http://www.williamsburgva.gov/' target='_blank'>Williamsburg</a></li>
                    </ul>
                </div>
            </div>

            <div class='clearfix'></div>

            <!--School Section-->
            <div class='row'>
                <br /><br /><br />
                <div class='clearfix'></div>

                <div class='row' id='schools'>
                    <div class='col-md-12 text-center'>
                        <h1>Explore Schools</h1>
                        <hr />
                    </div>
                    <div class='col-md-4 col-sm-12 col-xs-12 text-center'>
                        <div class='x_panel'>
                            <div class='x_title'>
                                <h4>Rating by Enrollment Number</h4>
                                <div class='clearfix'></div>
                            </div>
                            <div class='x_content'>
                                <canvas id='schoolRatingByEnrollment'></canvas>
                            </div>
                        </div>
                    </div>

                    <!--About School Data-->
                    <div class='col-md-4 col-sm-12 col-md-offset-0 col-sm-offset-0 col-xs-12 text-center'>
                        <div class='x_panel'>
                            <div class='x_title'>
                                <h4>About the Data</h4>
                                <div class='clearfix'></div>
                            </div>
                            <div class='x_content'>
                                <p>The current school information is sourced from the <a href="http://www.greatschools.org/api/docs/main.page" target='_blank'>GreatSchools API</a>.
                                    The data contains information such as the school district, grade ranges, GreatSchools
                                    rating, number of enrollment, and more.</p>
                                <div class='clearfix'></div>
                            </div>
                        </div>
                        <p><a class='btn btn-lg btn-default' href='/map' role='button'><i class='glyphicon glyphicon-search'></i> Explore Schools</a></p>
                    </div>

                    <div class='col-md-4 col-sm-12  col-md-offset-0 col-sm-offset-0 col-xs-12 text-center'>
                        <div class='x_panel'>
                            <div class='x_title'>
                                <h4>Rating by City</h4>
                                <div class='clearfix'></div>
                            </div>
                            <div class='x_content'>
                                <canvas id='schoolRatingByCity'></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class='clearfix'></div>

            <!--People Section-->
            <div class='row'>
                <br /><br /><br />
                <div class='clearfix'></div>

                <div class='row' id='people'>
                    <div class='col-md-12 text-center'>
                        <h1>Explore People</h1>
                        <hr />
                    </div>
                    <div class='col-md-4 col-sm-12 col-xs-12 text-center'>
                        <div class='x_panel'>
                            <div class='x_title'>
                                <h4>Population By Age</h4>
                                <div class='clearfix'></div>
                            </div>
                            <div class='x_content'>
                                <canvas id='populationByAge'></canvas>
                            </div>
                        </div>
                    </div>

                    <div class='col-md-4 col-sm-12 col-md-offset-0 col-sm-offset-0 col-xs-12 text-center'>
                        <div class='x_panel'>
                            <div class='x_title'>
                                <h4>About the Data</h4>
                                <div class='clearfix'></div>
                            </div>
                            <div class='x_content'>
                                <p>The data about the population of Hampton Roads is sourced from the 
                                    <a href='http://virginialmi.com/report_center/community_profiles/5109000323.pdf' target='_blank'>
                                        Community Profile for Hampton Roads
                                    </a>. The data applies to the 2010 Census for PDC 23.
                                </p>
                                <div class='clearfix'></div>
                            </div>
                        </div>
                        <p><a class='btn btn-lg btn-default' href='/map' role='button'><i class='glyphicon glyphicon-search'></i> Explore People</a></p>
                    </div>

                    <div class='col-md-4 col-sm-12  col-md-offset-0 col-sm-offset-0 col-xs-12 text-center'>
                        <div class='x_panel'>
                            <div class='x_title'>
                                <h4>Population by Race</h4>
                            </div>
                            <div class='x_content'>
                                <canvas id='populationByRace'></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class='clearfix'></div>

            <!--Crime Section-->
            <div class='row'>
                <br /><br /><br />
                <div class='clearfix'></div>

                <div class='row' id='crime'>
                    <div class='col-md-12 text-center'>
                        <h1>Explore Crime</h1>
                        <hr />
                    </div>
                    <div class='col-md-4 col-sm-12 col-xs-12 text-center'>
                        <div class='x_panel'>
                            <div class='x_title'>
                                <h4>Hampton Crime Rates by Severity</h4>
                                <div class='clearfix'></div>
                            </div>
                            <div class='x_content'>
                                <canvas id='crimeBySeverity'></canvas>
                            </div>
                        </div>
                    </div>

                    <!--About Crime Data-->
                    <div class='col-md-4 col-sm-12 col-md-offset-0 col-sm-offset-0 col-xs-12 text-center'>
                        <div class='x_panel'>
                            <div class='x_title'>
                                <h4>About the Data</h4>
                                <div class='clearfix'></div>
                            </div>
                            <div class='x_content'>
                                <p>The current crime information is sourced for the City of Hampton from the Hampton Police
                                    Department's
                                    <a href="https://dev.socrata.com/foundry/data.hampton.gov/umc3-tsey" target='_blank'>Socrata API</a>.
                                    The information includes a description of the crime, as well as the date, time, and location
                                    in which it occurred. Data included in the charts applies to Q1 2016.</p>
                                <div class='clearfix'></div>
                            </div>
                        </div>
                        <p><a class='btn btn-lg btn-default' href='/map' role='button'><i class='glyphicon glyphicon-search'></i> Explore Crime</a></p>
                    </div>

                    <div class='col-md-4 col-sm-12  col-md-offset-0 col-sm-offset-0 col-xs-12 text-center'>
                        <div class='x_panel'>
                            <div class='x_title'>
                                <h4>Hampton Crime By Type</h4>
                                <div class='clearfix'></div>
                            </div>
                            <div class='x_content'>
                                <canvas id='crimeByType'></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class='clearfix'></div>

        </div>

        <br /><br /><br />

        <!--Fixed Footer-->
        <nav class='navbar-fixed-bottom'>
            <div class='row background-white'>
                <ul class='nav nav-tabs'>
                    <li class='presentation'><a href='#schools'><i class='glyphicon glyphicon-apple'></i>  Schools</a></li>
                    <li class='presentation'><a href='#people'><i class='glyphicon glyphicon-user'></i>  People</a></li>
                    <li class='presentation'><a href='#crime'><i class='glyphicon glyphicon-eye-open'></i>  Crime</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <script src='/js/main.js'></script>

</body>
