{# map.twig #}

{% use 'mainHead.twig' %}
{% use 'header.twig' %}
{% use 'bootstrapCore.twig' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {{ block('mainHead')}}
</head>
<body>
    {{ block('header')}}
    <div id="map"></div>
    <script src="js/jquery.min.js"></script>
    <script src="/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDglONa03SLsLkWrBbCL0WFYOeAhNKrpJI&libraries=visualization&callback=initAutocomplete&sensor=true_or_false" async defer></script>
    
    {{ block('bootstrapCore')}}
</body>