{# map.twig #}

{% use 'mainHead.twig' %}
{% use 'header.twig' %}
{% use 'bootstrapCore.twig' %}

<!DOCTYPE html>
<html lang='en'>
<head>
    {{ block('mainHead')}}
</head>
<body>
    {{ block('header')}}
    <div class='dataSelect'>
        <img class='dataIcon' id='crimeIcon' src='images/fingerprint.png' title='Crime Data by Severity' data-toggle='tooltip' data-placement='right'></img>
        <img class='dataIcon' id='schoolIcon' src='images/apple.png' title='Schools by Rating' data-toggle='tooltip' data-placement='right'></img></a>
        <img class='dataIcon' id='foodIcon' src='images/food.png' title='Health Inspection Data' data-toggle='tooltip' data-placement='right'></img>
        <img class='dataIcon' id='housingIcon' src='images/housingCost.png' title='Housing Market Data' data-toggle='tooltip' data-placement='right'></img>
        <img class='dataIcon' id='bikeIcon' src='images/bicycle.png' title='Local Biking Trails' data-toggle='tooltip' data-placement='right'></img>
    </div>
    <div id='map'></div>
    <script src='js/jquery.min.js'></script>
    <script src='/js/map.js'></script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDglONa03SLsLkWrBbCL0WFYOeAhNKrpJI&libraries=visualization&callback=initAutocomplete' async defer></script>
    
    {{ block('bootstrapCore')}}
</body>